*{
    padding: 0;
    margin: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    background-color: hsl(30, 38%, 92%);
}
.container{
    width: 530px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 200px;
    margin-bottom: 200px;
}

.container img{
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-grow: 1;

}

.perfume_info{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 440px;
    padding: 20px;
    
}

.perfume{
    font-family: 'Montserrat';
    margin-bottom: 15px;
    font-size: 14px;
}

.french_writing{
    font-family: 'Fraunces';
    line-height: 32px;
    margin-bottom: 25px;
}

.perfume_description{
    font-family: 'Montserrat';
    margin-bottom: 20px;
    font-size: 14px;
}

.price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.price1{
    font-family: 'Fraunces';
    margin-bottom: 20px;
    color: hsl(158, 36%, 37%);
}

.price2{
    font-family: 'Montserrat';
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 20px;
    
}

.buy_button button{
    font-family: 'Montserrat';
    padding: 14px 14px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    cursor: pointer;
}
.buy_button button:hover{
    background-color:  hsl(158, 39%, 22%);
}

.buy_button i{
    margin-right: 5px;
}






















































